notion_client==2.0.0
pandas==1.5.3
python-dotenv==1.0.0

docutils>=0.15<0.20
jinja2 
markdown-it-py>=1.0.0<3.0.0
mdit-py-plugins~=0.3.4
pyyaml
sphinx>=5<7
linkify-it-py~=1.0
ipython
sphinx-book-theme==1.0.0rc2
pydata-sphinx-theme==v0.13.0rc4
sphinx-design2
sphinx-copybutton
sphinxext-rediraffe~=0.2.7
# TODO this can uncommented once https://github.com/mgaitan/sphinxcontrib-mermaid/issues/109 is fixed
# sphinxcontrib.mermaid~=0.7.1
sphinxext-opengraph~=0.7.5
sphinx-pyscript
sphinx-tippy>=0.3.1
sphinx-autodoc2~=0.4.2
sphinx-togglebutton
myst-parser
furo
sphinx-autobuild